<p id="notice"><%= notice %></p>

<h1>Lista de Clientes</h1>

<table>
  <thead>
    <tr>
      <th class="id">Cpf</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Renda</th>
      <th class="noborder" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td class="id"><%= cliente.cpf %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.idade %></td>
        <td>R$ <%= cliente.renda %></td>
        <td class="botao"><%= link_to 'Detalhes', cliente %></td>
        <td class="botao"><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td class="botao"><%= link_to 'Destruir', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="botao botao--novo">
  <%= link_to 'Novo Cliente', new_cliente_path %>
</div>
