<p id="notice"><%= notice %></p>
<div class="show--clientes">
<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @cliente.idade %>
</p>

<p>
  <strong>Renda:</strong>
  R$ <%= @cliente.renda %>
</p>

<table>
	<th class="botao botao--novo">
	<%= link_to 'Editar', edit_cliente_path(@cliente) %> </th> 
	<th class="botao botao--novo">
	<%= link_to 'Voltar', clientes_path %></th>
</table>

</div>