<p id="notice"><%= notice %></p>

<h1>Lista de Financiamentos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Imovel</th>
      <th>Juros</th>
      <th>Parcela (R$)</th>
      <th>Entrada (R$)</th>
      <th>Subsidio (R$)</th>
      <th>Status</th>
      <th>Meses</th>
      <th class="noborder" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @financiamentos.each do |financiamento| %>
      <tr>
        <td><%= Cliente.find(financiamento.cliente_id).nome %></td>
        <td><%= Imovel.find(financiamento.imovel_id).nome %></td>
        <td><%= financiamento.juros %></td>
        <td><%= financiamento.parcela %></td>
        <td><%= financiamento.entrada %></td>
        <td><%= financiamento.subsidio %></td>
        <% case financiamento.status 
        when "SIMULACAO"%><td class="simulacao"><%= financiamento.status %></td>
        <% when "NEGADO" %><td class="negado"><%= financiamento.status %></td>
        <% when "INVIAVEL" %><td class="inviavel"><%= financiamento.status %></td>
        <% when "ACEITO" %><td class="aceito"><%= financiamento.status %></td>
        <% when "NAO_ACEITO" %><td class="nao_aceito"><%= financiamento.status %></td>
        <% end %>
        <td><%= financiamento.meses %></td>
        
        <% if financiamento.status == "SIMULACAO"%>
          <td class="botao--acc"><%= link_to 'Aceitar', controller: "financiamentos", action: "aceita", id: financiamento, data: {confirm: 'Tem certeza?'} %></td>
          <td class="botao--rec"><%= link_to 'Recusar', controller: "financiamentos", action: "recusa", id: financiamento, data: {confirm: 'Tem certeza?'} %></td>
        <% else %>
          <td class="noborder" colspan="2"></td>
        <% end %>
        <td class="botao"><%= link_to 'Detalhes', financiamento %></td>
        <td class="botao"><%= link_to 'Destruir', financiamento, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="botao botao--novo">
  <%= link_to 'Simulação', simulacao_index_path %>
</div>