<p id="notice"><%= notice %></p>
<div class="show--financiamento">
<p>
  <strong>Cliente:</strong>
  <%= Cliente.find(@financiamento.cliente_id).nome %>
</p>

<p>
  <strong>Imovel:</strong>
  <%= Imovel.find(@financiamento.imovel_id).nome %>
</p>

<p>
  <strong>Juros:</strong>
  <%= @financiamento.juros %>
</p>

<p>
  <strong>Parcela:</strong>
  R$ <%= @financiamento.parcela %>
</p>

<p>
  <strong>Entrada:</strong>
  R$ <%= @financiamento.entrada %>
</p>

<p>
  <strong>Subsidio:</strong>
  R$ <%= @financiamento.subsidio %>
</p>

<p>
  <strong>Status:</strong>
  <%= @financiamento.status %>
</p>

<p>
  <strong>Meses:</strong>
  <%= @financiamento.meses %>
</p>

<table>
  <th class="botao botao--novo">
  <%= link_to 'Voltar', financiamentos_path %></th>
</table>
</div>