<h1 style="text-align: center;">Simulações</h1>


<div class="coluna1">
	<h1> Clientes </h1>
	<table>
		<thead>
			<tr>
				<th class="id">ID</th>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<% @clientes.each do |cliente| %>
				<tr>
					<td class="id"><%= cliente.id %></td>
				    <td><%= cliente.nome %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="coluna2">
	<h1> Imóveis </h1>
	<table>
		<thead>
			<tr>
				<th class="id">ID</th>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<% @imoveis.each do |imovel| %>
			<tr>
					<td class="id"><%= imovel.id %></td>
			        <td><%= imovel.nome %></td>
			</tr>
			    <% end %>
	    </tbody>
	</table>
</div>

<div class= "form">
<%= form_for(@financiamento) do |f| %>
	<div class="field">
	    <%= f.label :cliente_id %> (ID)<br>
	    <%= f.text_field :cliente_id %>
	  </div>
	  <div class="field">
	    <%= f.label :imovel_id %> (ID)<br>
	    <%= f.text_field :imovel_id %>
	  </div>
	  <div class="field">
	    Parcelas em <%= f.label :meses %><br>
	    <%= f.text_field :meses %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Simulação" %>
	  </div>
<% end %>
</div>