<p id="notice"><%= notice %></p>

<h1>Lista de Imóveis</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Unidade</th>
      <th>Valor</th>
      <th class="noborder"  colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imovels.each do |imovel| %>
      <tr>
        <td><%= imovel.nome %></td>
        <td><%= imovel.unidade %></td>
        <td>R$ <%= imovel.valor %></td>
        <td class="botao"><%= link_to 'Detalhes', imovel %></td>
        <td class="botao"><%= link_to 'Editar', edit_imovel_path(imovel) %></td>
        <td class="botao"><%= link_to 'Destruir', imovel, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="botao botao--novo">
  <%= link_to 'Novo Imóvel', new_imovel_path %>
</div>