<div class="wrapper-header">
  <header>
    <div>
      <nav>
      	  <div class="aba">HYPERION</div>
      	  <% if logged_in? %>
            <div class="aba"><%= link_to 'Clientes', clientes_path %></div>
            <div class="aba"><%= link_to 'Imóveis', imovels_path %></div>
            <div class="aba"><%= link_to 'Financiamentos', financiamentos_path %></div>
            <div class="aba"><%= link_to 'Simulação', controller: "simulacao", action: "index"%></div>
            <div class="aba"><%= link_to "Log out", sign_out_path, method: "delete" %></div>
          <% else %>
            <div class="aba"><%= link_to "Log in", root_path %></div>
          <% end %>

      </nav>
    </div>
  </header>
</div>